<a href="https://colab.research.google.com/github/Priyankabalumuri/690/blob/main/assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DATA 690 SESSION 02
 DATE- 09/09/2022

 NAME- PRIYANKA BALUMURI

In [2]:
years = "1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000"
print("birthyear of students -", years)

birthyear of students - 1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000

In [3]:
type(years)

str

In [5]:
type(True)

bool

In [7]:
years_list = years.split(" ")
print(years_list)

['1/11/1997', '1991', '2000', '1969', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [12]:
y=[8,9,10,11,12]
type(y)

list

In [16]:
total=0
for number in y:
  total  = total+number

print("sum of y =",total)

sum of y = 50

In [17]:
print("the size of the list y is:",len(y))

the size of the list y is: 5

In [18]:
print("the avg of y is:",total/len(y) )

the avg of y is: 10.0

In [19]:
years_list[0]

'1/11/1997'

In [21]:
years_list.pop(0)
print(years_list)

['2000', '1969', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [22]:
from datetime import date 
current_year = date.today().year
print(current_year)

total=0
for birth_year in years_list:
  age = current_year - int(birth_year)
  total  = total+age

print("total age is =",total)

2022
total age is = 547

In [23]:
print("the avg of students is:",total/len(years_list) )

the avg of students is: 26.047619047619047

In [24]:
print("the size of the list students is:",len(years_list))

the size of the list students is: 21